# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/

# OS
.DS_Store
